name: Super-Linter

on: push

jobs:
  super-lint:
    name: Lint Code base
    runs-on: checkout-latest
    steps:
       - name: Checkpot code
         uses: actions/checkout@v2


       - name: Run Super-Linter
         uses: github/super-linter@v3
         env:
            DEFAULT_BRANCH: main
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
